*{
    margin: 0;
    background-color: #C4FCEF;
}

main{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.container {
    height: 70vh;
    width: 70vh;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
  }
.game{
    height: 60vmin;
    width: 60vmin;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
button{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    font-size: 8vmin;
    background-color:#00C9A7;
}
.reset{
    font-size:15px;
    height:35px;
    width:auto;
    
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
}
